html {
	background-color: #eee;
	color: #222;
	font-family: sans-serif;
}

body {
	margin: 1em;
}

h1 {
	font-size: 1.4em;
	text-align: center;
}

.tiles {
	box-shadow: 0 5px 15px;
	margin: 1em auto;
	padding: 1em;
	width: 30em;
}

.tile {
	border: 1px solid;
	box-sizing: border-box;
	display: inline-block;
	margin: 0.5em;
	width: 14em;
}

.img-placeholder {
	background-size: 100% 100%;
	position: relative;
}

.img-placeholder img {
	animation: 1s fadein;
	position: absolute;
	width: 100%;
}

@keyframes fadein {
	from { opacity: 0 }
}
