html {
	background-color: #eee;
	color: #222;
	font-family: sans-serif;
}

body {
	margin: 1em;
}

h1 {
	font-size: 1.4em;
	text-align: center;
}

.tiles {
	box-shadow: 0 5px 15px;
	margin: 1em auto;
	padding: 1em;
	width: 30em;
}

.tiles img {
	border: 1px solid;
	box-sizing: border-box;
	height: 8em;
	margin: 0.5em;
	width: 14em;
}
